// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

// Custom Styles
.no-bg {
  background: transparent !important;
}

.tiny-text {
  font-size: 12px;
}

.basic-link {
  text-decoration: underline;
  color: #000000;
}

.main-sub-heading {
  color: $grey;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
}

.main-body-p {
  color: $grey;
  line-height: (22 / 14);
}

.basic-link {
  text-decoration: underline;
  color: #000;
}

.un-indent {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.btn {
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.decorative-line {
  width: 100%;
  height: 2px;
  background: $grey;
}

.preview-product {
  &__item {
    &-title {
      text-transform: uppercase;
      color: $accent;
      margin-bottom: 5px;
    }

    &-cost {
      color: $grey;
    }
  }
}

.item-border {
  border: 1px solid black; 
}